@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

#__GLOBAL_SIDER_MENU__ .simplebar-scrollbar {
  display: none;
}

#__GLOBAL_SIDER_MENU__ .simplebar-track {
  display: none;
}
